
<div class="wstavka">

    <div class="wstavka__kartinka">
        <div class="wstavka-stories" >
            <div class="wstavka-stories__item" >
                <img class="wstavka-stories__preview" src="{{ asset('assets/proekt/images/mestos/mesto_.png') }}"  alt="Место">
            </div>
        </div>
    </div>

    <div class="wstavka__title">
        Определяемся с номером места расположения пасеки: <br>Округ - Регион/Область - Район
    </div> 
</div> 

 

