<aside class="sidebarr">

    <div class="sidebarr__header">
      <img src="{{ asset('assets/proekt/images/logoo.jpg') }}" alt="">
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

            <img class="profilee__avatar" src="{{ asset('assets/proekt/images/mestos/mesto.png') }}" alt="">
            <div class="profilee__header">           
                <div class="profilee__name"> Иформация </div>
                <div class="profilee__prof"> Где и как используется НомерМеста </div>
            </div>
            <ul >    
                <ol>-- При регистрации ПлемМаток</ol>
                <ol>-- При регистрации ТестМаток</ol>
                <ol>-- Поиск Маток по НомерМесту</ol>
                <ol >--  ...</ol>
                <ol>-- Поиск участнков по НомерМесту</ol>
                <ol>-- Анализ результатов по НомерМесту</ol>
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Без выбора НомерМеста расположения Вашей 
                    пасеки - невозможно стать участником проекта </div>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->
    {# <div class="sidebarr__footer-text">
        <div class="sidebarr__footer">       
            <form class="searchh"  method="get">
                <input class="searchh__input" type="text" placeholder="Поиск по проекту">
            </form>
            <div class="sidebarr__lupa">
                    <img src="{{ asset('assets/proekt/images/lupa.png') }}" alt="">
            </div>
       </div>
   </div> #}
		

</aside>