{% if type == 'Эли' %}
    <span class="badge badge-secondary">Эли</span>
{% elseif type == 'Бре' %}
    <span class="badge badge-danger">Бре</span>
{% elseif type == 'Ада' %}
    <span class="badge badge-success">Ада</span>
{% elseif type == 'Мес' %}
    <span class="badge badge-success">Мес</span>
{% endif %}