<aside class="sidebarr">

    <div class="sidebarr__header">
      <img src="{{ asset('assets/proekt/images/logoo.jpg') }}" alt="">
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

            <img class="profilee__avatar" src="{{ asset('assets/proekt/images/profile/olan.jpg') }}" alt="">
            <div class="profilee__header">           
                <div class="profilee__name"> Ольга Игоревна </div>
                <div class="profilee__prof"> Пчеловод </div>
            </div>

         
            <div class="profilee__text">
                 <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    Написать мне
                </button> {# комментарий в modal.js  #}     
            </div>
            
            <div class="profilee__text">
                
               <a class="btnn btnn--pt btnn--mb0" href="#">Мои работы</a> 
            </div>
            
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->


</aside>
