{% extends 'proekt/base.html.twig' %}

{% block title %}Участники{% endblock %}

{% block sidebar %}              
    {% include('proekt/pasekas/matkas/side/_side_plem_index.html.twig') %}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    <a href="#">Рег-ция ПлемМатки</a>
    <span class="aktiv ">Пункты 1-3</span> 
{% endblock %}

{% block bodyy %}

    {# <article class="uchastie"> #}

    <div  class="proekts proekts--plemmatka">

    {% include('proekt/pasekas/matkas/plemmatkas/_plemmatka-includ.html.twig') %}
        
        <div class="proekts-plr  ">

                <h1 class="plem__title  "> Последовательно заполняем пункты: 1 - 3 </h1>

            <ul class="plem__data">

                    <li class="plem__name" >1. Формируем название. Поочерёдно выбираем : Расу - Линию - Номер </li>
                    <li>
                        <a href="{{ path('proekt.pasekas.rasas.plemmatka') }}"
                           class="btnn btnn--mb0 btnn--col">Выбрать <strong class="strongo strongo--kras">Раса_л-.._н-..  </strong>
                        </a>
                    </li>
                <li></li>

            </ul>

            <ul class="plem__data">
                   <li class="plem__name" >2. Далее, автоматически сформируется название новой
                       ПлемМатки с учетом Ваших данных: <br> ПерсонНомера и НомерМеста.
                   </li>
            </ul>
            <ul class="plem__data">
                    <li class="plem__name" >3. И Вам надо будет заполнить еще пару позиций: </li>
            </ul>


        </div>

    </div><!-- uchastie -->

{% endblock %}