
    <div class="wstavka">

        <div class="wstavka__kartinka">
            <div class="wstavka-stories  wstavka-stories--person" >
                <div class="wstavka-stories__item" data-modal="story-modal" >
                    <img class="wstavka-stories__preview" src="{{ asset('assets/proekt/images/persona/personaa.png') }}"  alt="ПерсонНомер">
                </div>
            </div>
        </div>

        <div class="wstavka__title">
           Выбираем  персональный номер
        </div> 
    </div>
 

