{% extends 'base.html.twig' %}

{% block title %}Место{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Место</li>

    </ol>
{% endblock %}

{% block body %}

 <h2 class = "page__title ">Номера мест расположения пасек участников проекта !!!!!!!!</h2>
 <div class="persona">

	{% for mestonomer in fetcher %}
        <div class = "persona-nomer">		
		    {{ mestonomer.mestonomer  }}
        </div>
	{% endfor %}
</div>
    <h2 class = "page__title ">Ваш номер места расположения пасеки  </h2>
    <div class = "persona-nomer">
        {{ mestonomer.nomer }}
    </div>
{% endblock %}