<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/proekt/scss/proekt.css') }}">
 {% endblock %} 
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>Привер Проект</title>
</head>
<body>

<div class="pagee">
  
    {% block header %}
        {{ include('proekt/base/_header.html.twig') }}
    {% endblock %}

    {% block sidebar %}
        {{ include('proekt/base/_sidebar.html.twig') }}
    {% endblock %}

    <!-- Main -->
    <main class="mainn">

        <div class="kroxii kroxii-gradien ">
            <div class="kroxii-xl">
              {% block kroxii %} {% endblock %}
            </div>
        </div>

        {# <div class="containerr"> #}
        {% include '_flashes.html.twig' %}
            {% block bodyy %}
    
            {% endblock %}
        {# </div> #}
    </main>
</div>


<!-- JS -->
<script src="assets/proekt/js/proekt.js"></script>
</body>
</html>

