   <!-- Add post -->
   {# ---------------------------- #}
   <div class="add-post">
      <form  class="add-post__form" action="/" method="post" >
            <textarea class="add-post__textarea" name="post-text" placeholder="Напишите что-нибудь!!!!!!"></textarea>
{# в этом диве будут кнопочки стилизую классом add-post__form-actions #}
            <div class="add-post__form-actions"> 
               <label class="add-post__file" for="add-post-file"> 
               {# связываем label и input через add-post-file #}
                   <input type="file" id="add-post-file"> {#потом скроем и будем показывать конку #}
               </label>

               <button class="add-post__send" type="submit">
                        <img  src="{{ asset('assets/images/send.svg') }}" alt="Отправить">
                       {# Отправить #}
               </button>
            </div>
      </form>
   </div>
 {# ------------   #}
