<!-- post без header-->
<div class="post">

      <div class="post__content">
         <p class="post__text">Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam 
            est expedita quasi magni exercitationem hic earum possimus, provident 
            quae perferendis, 
            voluptate veniam et modi asperiores libero!
         </p>
      </div>

      <div class="post__footer">
         <ul class="post__data">
				<li class="post__data-item">
					<time datetime="2020-06-21 19:20">21.06.2021</time>
				</li>
			</ul>
      </div>

</div> 

<!-- post картинка -->
<article class="post">

      <div class="post__header">
            <a href="#">
               <img class="post__preview" src="{{ asset('assets/images/post/post-2.jpg') }}" alt="Как весной формировать гнездо"> 
            </a>
      </div>

      <div class="post__content">
         <h2 class="post__title">
            <a href="{{ path('sait.posts') }}">Как весной формировать гнездо?</a>
        </h2>
        <p class="post__text">Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Voluptatibus facilis repellat fuga 
                        ullam est expedita quasi magni exercitationem hic
                         earum possimus, provident quae perferendis, 
                         voluptate veniam et modi asperiores libero!
        </p>
      </div>

      <div class="post__footer">
         <ul class="post__data">
            <li class="post__data-item">
                <time datetime="2020-06-21 19:20">21.06.2020</time>
            </li>
            <li class="post__data-item">
                <a href="#">Название категории статьи</a>
            </li>
        </ul>

        <a class="post__read" href="posts/index.html">читать ...</a>
      </div>

</article>

<!-- post  видео-->
<article class="post">

      <div class="post__header post__header--video">
         <div class="embed">
             <iframe src="https://www.youtube.com/CvEttNvty0U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
      </div>

      <div class="post__content">
         <h2 class="post__title">
            <a href="#">Купил новый ноутбук за 150 000 руб</a>
         </h2>
      </div>

      <div class="post__footer">
         <ul class="post__data">
            <li class="post__data-item">
                <time datetime="2020-06-21 19:20">21.06.2020</time>
            </li>
            <li class="post__data-item">
                <a href="#">продвижение видео</a>
            </li>
        </ul>
         <a class="post__read" href="#">оставить комментарий</a>
      </div>

</article>

<!-- post статья-->
<article class="post">

      <div class="post__header">
         <a href="#">
               <img class="post__preview" src="{{ asset('assets/images/post/post-3.jpg') }}" alt="Как весной формировать гнездо"> 
            </a>
      </div>

      <div class="post__content">
         <h2 class="post__title">
            <a href="#">Какие пчелки красивые</a>
        </h2>
        <p class="post__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est expedita quasi magni exercitationem hic earum possimus, provident quae perferendis, voluptate veniam et modi asperiores libero!</p>

      </div>

      <div class="post__footer">
         <ul class="post__data">
            <li class="post__data-item">
                <time datetime="2021-03-24 19:20">24.03.2021</time>
            </li>
            <li class="post__data-item">
                <a href="#">...................</a>
            </li>
        </ul>
        <a class="post__read" href="post.html">читать ... </a>
      </div>

</article><!-- post статья-->

