    <div class="stories" >
     {# data-modal="story-modal" -дата-атрибут для идентификации мод.окна #}
        <div class="stories__item" data-modal="story-modal" >
            <img class="stories__preview" src="{{ asset('assets/images/stories/p4ela1.jpg') }}" alt="">
            <div class="stories__title">p4ela1</div>
            <time class="stories__date" datetime="2021-03-21 19:21">21.03.2021</time>
        </div>
        <div class="stories__item">
            <img class="stories__preview" src="{{ asset('assets/images/stories/p4ela2.jpg') }}" alt="">
        </div>
        <div class="stories__item">
            <img class="stories__preview" src="{{ asset('assets/images/stories/p4ela3.jpg') }}" alt="">
        </div>
        <div class="stories__item">
            <img class="stories__preview" src="{{ asset('assets/images/stories/p4ela4.jpg') }}" alt="">
        </div>
    </div>

