<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('rabota.u4astniki') }}">Участникииииииии</a>
    </li>
	
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('mesto') }}">Округ</a>
    </li>
	
</ul>