{% extends 'proekt/base.html.twig' %}

{% block title %}....{% endblock %}

{% block kroxii %}
            <a href="{{ path('proekt') }}">Главная</a>
            <a href="{{ path('proekt.pasekas.matkas.plemmatkas') }}">Рег-ция ПлемМатки</a>
            <span class="aktiv ">Категории</span> 
 
{% endblock %}


{% block bodyy %}

    <div  class="proekts proekts--kategor">
        <div class="inklud inklud--kategor">
            <div class="inklud__img  ">
                <img class="" src="{{ asset('assets/proekt/images/matkas/kategor.png') }}" alt="">           
            </div>

            <div class="inklud__title inklud__title--plem teni teni--rategor">
                Категории для   ПлемМаток
            </div> 
        </div>

    {% include('proekt/pasekas/matkas/kategor/_kategor-includ.html.twig') %}
 </div><!-- uchastie -->

{% endblock %}