{% if kategoria == 'Эли' %}
    <span class="badge badge-danger">Эли</span>
{% elseif kategoria == 'Бре' %}
    <span class="badge badge-primary">Бре</span>
{% elseif kategoria == 'Ада' %}
    <span class="badge badge-success">Ада</span>
{% elseif kategoria == 'Мес' %}
    <span class="badge badge-secondary">Мес</span>
{% endif %}