
    <div class="inklud">

        <div class="inklud__img">
        <img class="" src="{{ asset('assets/proekt/images/matkas/matki_.png') }}" alt="">
            
        </div>

        <div class="inklud__title teni">
           Формируем название для регистрации  ПлемМатки
        </div> 
    </div>
 

