
<div class="wstavka wstavka--uch">
    <div class="wstavka__kartinka">
        <div class="wstavka-stories" >
            <div class="wstavka-stories__item" data-modal="story-modal" >
                <img  src="{{ asset('assets/proekt/images/uchasties/uchastie.png') }}"  alt="Место">
            </div>
        </div>
    </div>
    <div class="wstavka__title">
        Список участников проекта    
    </div>
 </div>

