
    <div class="inklud inklud--sezon">

        <div class="inklud__img">
        <img class="" src="{{ asset('assets/proekt/images/sezon/sezons.png') }}" alt="">
            
        </div>

        <div class="inklud__title teni  teni--sezon ">

           Сезон
            <strong class="stron-sezon">{{ goda.sezon }} </strong>
            - -
            ввод данных - начало
        </div> 
    </div>
 

