{% extends 'base.html.twig' %}

{% block title %}Сезоны{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Сезоны</li>
    </ol>
{% endblock %}

{% block body %}



    <div class="controls">
        <a href="{{ path('sezons.godas.create') }}" class="btnn btnn--mb0">Добавить новый сезон</a>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Год </th>
                    <th> Сезон </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set token = csrf_token('delete') %}
                {% for goda in godas %}
                    <tr>
                        <td>  {{ goda.god }} </td>
                        <td>   {{ goda.sezon }}  </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}