<aside class="sidebarr">

    <div class="sidebarr__header">
      <img src="{{ asset('assets/proekt/images/logoo.jpg') }}" alt="">
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

            <img class="profilee__avatar  profilee__avatar--persona" src="{{ asset('assets/proekt/images/persona/person.png') }}" alt="">
            <div class="profilee__header">           
                <div class="profilee__name"> Выбираем  Диапазон  </div>
                <div class="profilee__prof"> Всё очень просто! </div>
            </div>
            <ul >    
                <ol>-- Для выбора просто щелкните по  кружочку или нужному диапазону -
                кружочек окрасится в другой цвет</ol>
                <ol>-</ol>
                <ol>-- Если ошиблись - можно перещелкнуть )</ol>
                <ol>-</ol>
                <ol>-- Ниже кнопка: <br> "Смотрим ПерсонНомерА" - жмем и переходим на страничу выбора </ol>
                
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Если обнаружили ошибку 
                    </div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->

		

</aside>