
{# <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/mesto.png') }}"  alt="Место">
                </div>
            </div>  #}
<div class="includ-menu ">
    <ul class="includ-menu__ul " >
        <li class="includ-menu__li " >
            <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/mesto_.png') }}"  alt="Место">
                </div>
            </div>         
        </li>
        <li class="includ-menu__li includ-menu__li--paddin" >
               Определяемся с номером места расположения пасеки: Округ - Регион/Область - Район                   
        </li>                       
    </ul>            
</div> 