
{# <div  class="saits"> #}

    <div class="wstawka">

        <div class="wstawka__kartinka">
            <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/mesto_.png') }}"  alt="Место">
                </div>
            </div>
        </div>

        <div class="wstawka__title">
            Определяемся с номером места расположения пасеки: <br>Округ - Регион/Область - Район
        </div> 
    </div>
{# </div> #}
 

