<aside class="sidebarr">

    <div class="sidebarr__header">
      <img src="{{ asset('assets/proekt/images/logoo.jpg') }}" alt="">
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

            <img class="profilee__avatar" src="{{ asset('assets/proekt/images/matkas/matka.png') }}" alt="">
            <div class="sid__header">           
                 <div class="profilee__name"> Заполняем пункты: 1 - 3 ..  </div>
                <div class="profilee__prof"> У Вас все получатся  </div>
            </div>
            <div class="sid__header">
                <div class="profilee__name"> 1. Формируем название</div>               
            </div>   
            <ul >
            <strong class="st-plem st-plem__wse">                
                <ol >-- Выбираем Расу </ol>               
            </strong>    
<strong class="st-plem st-plem__kras">
                <ol class="mb_1">-- Выбираем Линию</ol>
              
</strong>
 <strong class="st-plem st-plem__wse"> 
                <ol class="mb_1">-- Выбираем Номер</ol>
                
                <ol>-- Если ошиблись - можно вернуться на предыдущие  странички через  меню</ol>
</strong>                
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Если обнаружили ошибку или <br>не нашли  нужное название
                    </div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->
    {# <div class="sidebarr__footer-text">
        <div class="sidebarr__footer">       
            <form class="searchh"  method="get">
                <input class="searchh__input" type="text" placeholder="Поиск по проекту">
            </form>
            <div class="sidebarr__lupa">
                    <img src="{{ asset('assets/proekt/images/lupa.png') }}" alt="">
            </div>
       </div>
   </div> #}
		

</aside>