.page__title {
  margin: 0;

  font-size: 2.1rem;
  color: $white;

  &--center {
    text-align: center;
  }

  &--top {
    // padding-top: -1.5rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
  }

  &--mt0 {
    // padding-top: -1.5rem;
    margin: 0;


  }
}