$body-bg: #f6f6f6;
$font-size-base: .85rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;
// раса
$black:     #000;
$col-text: rgb(224, 231, 231);
$kroxi:   #ccb44b;

$grad1:  #155799;
$grad2:   #159957;

$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$red:       #ED3024;
$blue:      #3137C9;
//$input-bg: red;
// kroxi
$z-index-kroxi: 900;
$border-linia:  #8d8484;
$color-text:  #DEDEDE;