$body-bg: #f6f6f6;
$font-size-base: .85rem;

$sidebar-width: 270px;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;

// матка
$mat-fon: #4c2fca;
$mat-fon-a: #3819c2;//при навелении на ссылку
$mat-col-text: #3819c2;
$mat-fon-ul: #e3dff7;

// mesto infamesto
$gradien:    #fff;
$text:   #a78c16;

// раса
$black:     #000;
$col-text: rgb(224, 231, 231);
$kroxi:   #ccb44b;

$grad1:  #155799;
$grad2:   #159957;

$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$red:       #ED3024;
$blue:      #3137C9;
// uchastie
$col-uchastie: #8e39c6;
$text-uchastie: rgb(224, 231, 231);

//$input-bg: red;
// kroxi
$z-index-kroxi: 900;
$border-linia:  #8d8484;
$color-text:  #DEDEDE;

$color-rasa: #588557;

// form
$color-select: transparent;
$gradien:    #fff;

$tablet-bp: 991px; // планшетная версия
$z-index-header:  1000;