@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~font-awesome/scss/font-awesome";

html {
    font-size: 72.5%;
}

body {
    background-color: $color-rasa;

    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5;
    color: $border-linia;
}
.header {
    display: flex;
    width: calc(100% - #{$sidebar-width});

    background-color: $grad1;
    //height: 30px; убираем, чтобы шапка растягивалась по содержимому
    //background-color: darken($header-color, 5%); //darken  затемнение цвета
    box-shadow: 0 5px 22px rgba($black, .25);
    //  стилизация тени - не прозрачность 25%

    position: fixed; // фиксированное позиционирование
    top: 0;
    right: 0;
    z-index: $z-index-header;
    // меняем ширину шабки на 100%

}
*,
*:before,
*:after {
    box-sizing: border-box;
}

a  {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    & > .container {
        padding: 80px 15px 0;
    }
}

.main {
    .container-fluid {
        padding: 0 20px;
    }
}

.box {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}


.table {
    th,
    td {
        vertical-align: middle;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > * {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.footer {
    background-color: #df1515;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@import "form/group-form";

@import "matkas/matka";

@import "page/page";
@import "page/alert-pr";

@import "mesto/infamesto/inform";
@import "mesto/infamesto/mesto";

@import "main";
@import "rasas/rasa";
@import "rasas/info_rasa";
@import "rasas/sparing";
@import "rasas/kroxi";

@import "uchasties/uchastie/uchastie";

@import "personas/persona";


