{% extends 'sait/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}


{% block kroxiSait %}
    <a href="{{ path('sait') }}">Главная</a>
    <span class="aktiv">ПевсонНомер</span>
    <span class="aktiv">Диапозон</span>
{% endblock %}

{% block bodyMain %}
 <h2 class = "page__title ">Персональные номера участников проекта </h2>   

 <h2 class = "page__title ">Для выбора персонНомера участника - жмите на выбранную цифру</h2>

<div class="persona">
 
	{% for person in persons %}
        <div class = "persona-vibor">
            <a  href= "{{ path('sait.uchastiess.personas.create', { 'person': person}) }}">
            {{ person  }} </a>
        </div>
	{% endfor %}

</div>

<div class="persona">
    <h3 class = "page__title ">Если выбрали не тот диапазон - можно ..&nbsp; </h3>
        <a  href= "{{ path('sait.uchastiess.personas.diapazon') }}" class="btn-my btn-my--sm">
                Изменить диапазон
        </a>
</div>
 {% endblock %}