{% extends 'sait/base.html.twig' %}

{% block title %}Персональный номер{% endblock %}

{% block kroxiSait %}
    <a href="{{ path('sait') }}">Главная</a>
    <span class="aktiv">ПерсонНомер</span>
    <span class="aktiv">Диапозон</span>
{% endblock %}

{% block bodyMain %}

 <h2 class = "page__title ">Персональные   номера участников проекта !!!!!!!!</h2>
 <div class="persona">

	{% for persona in fetcher %}
        <div class = "persona-nomer">		
		    {{ persona.nomer  }} 
        </div>
	{% endfor %}
</div>
    <h2 class = "page__title ">Ваш персональный   номер участника </h2>
    <div class = "persona-nomer">
        {{ persona.nomer }}
    </div>
{% endblock %}