
    <div class="inklud inklud--rasa">

        <div class="inklud__img ">
        <img class="" src="{{ asset('assets/proekt/images/matkas/blok_.png') }}" alt="">
            
        </div>

        <div class="inklud__title teni teni--rasa">
           Выбираем р-.._л-.._н-.. для регистрации  ПлемМатки
        </div> 
    </div>
 

