
    <div class="wstawka">

        <div class="wstawka__kartinka">
            <div class="includ-stories" >
                <div class="includ-stories__item" data-modal="story-modal" >
                    <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/person_.png') }}"  alt="ПерсонНомер">
                </div>
            </div>
        </div>

        <div class="wstawka__title">
           Выбираем  персональный номер
        </div> 
    </div>
 

