///////////uchastie ==========
.uchastie {
  margin: 3rem -1rem 2rem -1rem;
  padding: 1.5rem 1.5rem;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow
  background-color: $col-uchastie;
  //background-color: transparent;
  box-shadow: 0 15px 25px rgba($black, .35);
  border-radius: 5px;
}
.uchastie__header{
    margin: 0 0 2.5rem;
}
.uchastie__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: $text-uchastie;
  //font-weight: 500;
  a {
    color: inherit; // что бы изменить цвет ссылки - на родительский post__title
    text-decoration: none;
  }
  &--mb0 {
    margin-bottom: 0;
  }
}
.uchastie__data{
  display: flex; // добавляем т.к добаилась li-шка
  //justify-content: center;
  justify-content: space-between;
  align-items: center; // выравнивание по вертикали
  list-style: none; // убрала точку у li
  width: 100%;
  color: $col-text;
  line-height: 2.0;

  a {
    padding: .6rem 1.6rem;
    color: inherit;

    opacity: 0.6;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
      text-decoration: none;
      background-color: sandybrown;
    }
  }
}
.uchastie__name{
  // display: flex; // добавляем т.к добаилась li-шка
 // width: 60.0rem;
  color: $col-text;
  padding: .6rem;
  border-bottom: 1px solid $col-text; // linia

  &--wid25 {
    width: 25.0rem;
  }
  &--wid15 {
    width: 15.0rem;
  }
  &--wid5 {
    width: 5.0rem;
  }
}
.uchastie-nomer{
  width: 6rem;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  margin: 10px;
  padding: .5rem .5rem  .5rem  1.7rem;

  transition: box-shadow .2s linear;
}











