{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Расы зарегистрированные</li>
    </ol>
{% endblock %}

{% block body %}


    <article class="rasa">

        <div class="rasa__header  ">
            <h1 class="rasa__title  ">Расы зарегистрированные в БД, жмём на нужное сокращенное название</h1>

            {% for rasa in rasas %}

                <ul class="rasa__data">
                 <li></li>
                    <li >
                        <a href="{{ path('paseka.rasas.linias.plemmatka',{'id': rasa.id}) }}" class="btn-my btn-my--sm" >
                            <strong class="stro stro--kras">{{ rasa.name }} </strong>
                        </a>
                    </li>    
                    <li class="rasa__name  ">  {{ rasa.title }}  </li>                
                    <li></li>
                    <li></li>
                </ul>
            {% endfor %}
        </div>
    </article><!-- rasas -->

{% endblock %}