{% if uchkak == 'ROLE_PCHMAT' %}
    <span class="badge badge-secondary">Пчеловод - Матковод</span>
{% elseif uchkak == 'ROLE_MATKO' %}
    <span class="badge badge-success">Матковод</span>
{% endif %}