.persona {
  background-color: #588557;
	margin-bottom: 2rem;

	display: flex;
	//justify-content: space-around;
	justify-content: flex-start;
	align-items: center;

	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
	background: transparent;
	padding: 5px;

}
.persona-nomer {
	width: 5rem;
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	margin: 10px;
	padding: .5rem .5rem  .5rem  1.7rem;

	transition: box-shadow .2s linear;

}
.persona-vibor {
	width: 5rem;
	box-shadow: 5px 0 15px rgba(65, 60, 31, 0.3);

	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	margin: 10px;
	padding: .5rem .5rem  .5rem  1.7rem;

	transition: box-shadow .2s linear;

	&:hover {
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  }
}


