 {# data-modal="story-modal" -дата-атрибут , а тут id="story-modal" #}
<div class="modal" id="story-modal" >
    <div class="modal__content  modal__content--story">
    {# poster="https://placehold.it/420x580" #}
        <video class="modal__video" src="" ></video>
    </div>
</div>