
<div class="wstavka wstavka--uch">
    <div class="wstavka__kartinka">
        <div class="wstavka-stories" >
            <div class="wstavka__item" data-modal="story-modal" >
                <img class="wstavka__preview" src="{{ asset('assets/proekt/images/uchasties/bloknot.png') }}"  alt="bloknot">
            </div>
        </div>
    </div>
    <div class="wstavka__title">
        Стать участником проекта
    </div>
 </div>

