
<div class="wstavka wstavka--uch">
    <div class="wstavka__kartinka">
        <div class="includ-stories" >
            <div class="includ-stories__item" data-modal="story-modal" >
                <img class="includ-stories__preview" src="{{ asset('assets/images/mestos/uchastie.png') }}"  alt="Место">
            </div>
        </div>
    </div>
    <div class="wstavka__title">
        Стать участником проекта
    </div>
 </div>

