{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello, {{ executor.name.first }}!</p>

    <p>Вы назначены на тестировать &laquo;{{ childmatka.name }}&raquo;:</p>

    {% set url = url('paseka.matkas.childmatkas.show', {'id': childmatka.id}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}